<!DOCTYPE html>
<html>
    <head>
        <title>Shows</title>
    </head>
    <body>
        <h2>IMDB: Top 5 Episodes</h2>
        <table width="100%", border="solid">
          <tr >
            <th>Title</th>
            <th>Episode</th>
            <th>Rating</th>
          </tr>
          <tr th:object="${bb}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
          <tr th:object="${aot}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
          <tr th:object="${aot2}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
          <tr th:object="${sw}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
          <tr th:object="${mr}">
            <td th:text="*{title}"></td>
            <td th:text="*{episode}"></td>
            <td th:text="*{rating}"></td>
          </tr>
        </table>
    </body>
</html>
