<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h2>IMDB: Top 5 Episodes</h2>
  <div>
    <table border="solid" width="100%">
      <tr>
        <th>Title</th>
        <th>Episode</th>
        <th>Rating</th>
      </tr>
      <tr>
        <th>Breaking Bad</th>
        <th>Ozymandias</th>
        <th>10.0</th>
      </tr>
      <tr>
        <th>Attack on Titan</th>
        <th>Hero</th>
        <th>9.9</th>
      </tr>
      <tr>
        <th>Attack on Titan</th>
        <th>Perfect Game</th>
        <th>9.9</th>
      </tr>
      <tr>
        <th>Star Wars: The Clone Wars</th>
        <th>Victory and Death</th>
        <th>9.9</th>
      </tr>
      <tr>
        <th>Mr. Robot</th>
        <th>407 Proxy Authentication Required</th>
        <th>9.9</th>
      </tr>
    </table>
  </div>
</body>
</html>
