<!DOCTYPE html>
<html>
    <head>
        <title>Name</title>
    </head>
    <body>
      <h1 style="font-weight: bold" th:text = "${name}"></h1>
      <ul>
        <li><p style="font-weight: bold" th:text = "${#strings.substring(name, 0, 1)}"></p></li>
        <li><p style="font-weight: bold" th:text = "${#strings.substring(name, 0, 2)}"></p></li>
        <li><p style="font-weight: bold" th:text = "${#strings.substring(name, 0, 3)}"></p></li>
        <li><p style="font-weight: bold" th:text = "${#strings.substring(name, 0, 4)}"></p></li>
        <li><p style="font-weight: bold" th:text = "${#strings.substring(name, 0, 5)}"></p></li>
      </ul>
    </body>
</html>
